<div class="my-3"></div>
<div class="card">
  <div class="card-body text-center">
    <h5>Puntos de Venta</h5>
  </div>
</div>
<div class="my-2"></div>
<div id="map" style="height: 400px; width: 100%;"></div>
