<!-- <div class="my-3"></div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body text-center" (click)="salesPlaces()">
        <p class="card-title text-size">Puntos de venta</p>
        <img src="../../../assets/img/store.png" alt="" srcset="">
        <div class="my-1"></div>
        <p class="card-text text-size">5</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body text-center my-center" style="padding-top: 30px;" (click)="locations()">
        <img src="../../../assets/img/maps_icon.png" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="my-2"></div>
    <div class="card">
      <div class="card-body text-center my-auto">
        <p class="card-title text-size">Consumo Energía</p>
        <img src="../../../assets/img/energia-renovable.svg" height="40" alt="" srcset="">
        <p class="card-text text-size">{{energy}} Kwh</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="my-2"></div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-title text-size">Alertas</p>
        <p class="card-text text-size">2</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="my-2"></div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-title text-size">Sensores</p>
        <p class="card-text text-size" >10</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="my-2"></div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-title">Neveras</p>
        <p class="card-text">5</p>
      </div>
    </div>
  </div>

</div> -->

<div class="row">
  <div class="col-12">
    <div class="card card-stats" (click) = "salesPlaces()">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon" style="background: #e0e0e0 !important;">
          <img src="../../../assets/img/store.png" height="50" alt="" srcset="">
          <!-- <i class="material-icons">content_copy</i> -->
        </div>
        <p class="card-category" style="font-size: 18px !important;">Puntos de Venta</p>
        <h3 class="card-title">5
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <!-- <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a href="#pablo">Get More Space...</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-stats" style="margin-top: 5px !important;" (click)="locations()">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon" style="background: #e0e0e0 !important;">
          <img src="../../../assets/img/mapa.svg" height="50" alt="" srcset="">
          <!-- <i class="material-icons">content_copy</i> -->
        </div>
        <p class="card-category" style="font-size: 18px !important;">Ubicación</p>
        <h3 class="card-title">
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <!-- <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a href="#pablo">Get More Space...</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-stats" style="margin-top: 5px !important;">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon" style="background: #e0e0e0 !important;">
          <img src="../../../assets/img/energia-renovable.svg" height="50" alt="" srcset="">
          <!-- <i class="material-icons">content_copy</i> -->
        </div>
        <p class="card-category" style="font-size: 18px !important;">Consumo de Energía</p>
        <h3 class="card-title">{{energy}}
          <small>Kwh</small>
        </h3>
      </div>
      <div class="card-footer">
        <!-- <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a href="#pablo">Get More Space...</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-stats" style="margin-top: 5px !important;">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon" style="background: #e0e0e0 !important;">
          <img src="../../../assets/img/alert.svg" height="50" alt="" srcset="">
          <!-- <i class="material-icons">content_copy</i> -->
        </div>
        <p class="card-category" style="font-size: 18px !important;">Alertas</p>
        <h3 class="card-title">2
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <!-- <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a href="#pablo">Get More Space...</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-stats" style="margin-top: 5px !important;" (click) = "sensors()">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon" style="background: #e0e0e0 !important;">
          <img src="../../../assets/img/sensor.svg" height="50" alt="" srcset="">
          <!-- <i class="material-icons">content_copy</i> -->
        </div>
        <p class="card-category" style="font-size: 18px !important;">Sensores</p>
        <h3 class="card-title">10
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <!-- <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a href="#pablo">Get More Space...</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-stats" style="margin-top: 5px !important;" (click) = "fridges()">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon" style="background: #e0e0e0 !important;">
          <img src="../../../assets/img/fridge.svg" height="50" alt="" srcset="">
          <!-- <i class="material-icons">content_copy</i> -->
        </div>
        <p class="card-category" style="font-size: 18px !important;">Neveras</p>
        <h3 class="card-title">5
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <!-- <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a href="#pablo">Get More Space...</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
