<div class="my-4"></div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h5>Nutibara - Q49</h5>
      </div>
      <div class="card-body">
        <h5 class="text-center">Refrigerados</h5>
        <div class="row">
          <div class="col-10">
            <h5>ID: TI 00</h5>
          </div>
          <div class="col-2 status-active">
          </div>
          <div class="col-10">
            <h5>ID: Kw 00</h5>
          </div>
          <div class="col-2 status-active" >
          </div>
          <div class="col-12">
            <h5>Cava 02</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h5>Éxito Niquía - Q32</h5>
      </div>
      <div class="card-body">
        <h5 class="text-center">Refrigerados</h5>
        <div class="row">
          <div class="col-10">
            <h5>ID: TI 02</h5>
          </div>
          <div class="col-2 status-inactive">
          </div>
          <div class="col-10">
            <h5>ID: Kw 02</h5>
          </div>
          <div class="col-2 status-inactive" >
          </div>
          <div class="col-12">
            <h5>Cava 01</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h5>La Central - Q73</h5>
      </div>
      <div class="card-body">
        <h5 class="text-center">Refrigerados</h5>
        <div class="row">
          <div class="col-10">
            <h5>ID: TI 02</h5>
          </div>
          <div class="col-2 status-inactive">
          </div>
          <div class="col-10">
            <h5>ID: Kw 02</h5>
          </div>
          <div class="col-2 status-inactive" >
          </div>
          <div class="col-12">
            <h5>Nevera 3P 01</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h5>Parque Comercial Florida - Q73</h5>
      </div>
      <div class="card-body">
        <h5 class="text-center">Refrigerados</h5>
        <div class="row">
          <div class="col-10">
            <h5>ID: TI 04</h5>
          </div>
          <div class="col-2 status-inactive">
          </div>
          <div class="col-10">
            <h5>ID: Kw 04</h5>
          </div>
          <div class="col-2 status-inactive" >
          </div>
          <div class="col-12">
            <h5>Nevera 3P 02</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h5>C.C. Monterrey - Q69</h5>
      </div>
      <div class="card-body">
        <h5 class="text-center">Refrigerados</h5>
        <div class="row">
          <div class="col-10">
            <h5>ID: TI 06</h5>
          </div>
          <div class="col-2 status-inactive">
          </div>
          <div class="col-10">
            <h5>ID: Kw 06</h5>
          </div>
          <div class="col-2 status-inactive" >
          </div>
          <div class="col-12">
            <h5>Nevera 3P 02</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
