<!-- Material form login -->
<div class="my-5"></div>
<div class="container text-center">
  <div class="card">
    <div class="my-2"></div>
    <div class="text-center">
      <img src="../assets/img/logo_pentadata.jpg"  class="img-fluid">
    </div>
    <h5 class="card-header info-color white-text text-center py-4">

    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;" action="#!">

        <!-- Email -->
        <div class="md-form">
          <input type="email" id="email" class="form-control" placeholder="Usuario">
          <!-- <label for="materialLoginFormEmail">E-mail</label> -->
        </div>
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="password"  class="form-control" placeholder="Contraseña">
        </div>
        <div class="md-form">
          <label for="materialLoginFormEmail">{{alert}}</label>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="button" (click)="login()">Iniciar
          Sesión</button>
      </form>
      <!-- Form -->

    </div>

  </div>
</div>
<!-- Material form login -->
