<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <ul class="list-group">
      <li class="list-group-item text-center">
        <a href="http://smet.pentadata.co">
          <img src="../assets/img/logo_pentadata.jpg" width="100%" style="display: block;">
        </a>
      </li>
      <li class="list-group-item" routerLink="/sections">Inicio</li>
      <li class="list-group-item">Soporte</li>
      <li class="list-group-item" routerLink="/">Cerrar sesión</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Just an image -->
    <div class="pos-f-t">
      <nav class="navbar navbar-light">
        <button class="navbar-toggler" type="button" (click)="sidenav.toggle()"
          data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="border: black "></span>
        </button>
      </nav>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
