<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-warning card-header-icon">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-2">
            <div class="card-icon">
              <img src="../../../assets/img/frio.svg" height="40" alt="" srcset="">
              <img src="../../../assets/img/energia-renovable.svg" height="40" alt="" srcset="">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <mat-form-field style="width: 100% !important">
              <input matInput [matDatepicker]="picker1" placeholder="Fecha Inicial">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <mat-form-field style="width: 100% !important">
              <input matInput [matDatepicker]="picker2" placeholder="Fecha Final">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-2">
            <div class="my-2"></div>
            <button class="btn btn-block btn-outline-secondary">consultar</button>
          </div>
        </div>
      </div>
      <div class="card-body" style="height: 25rem;">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">language</i>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-4">
            <mat-form-field style="width: 100% !important">
              <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4">
            <mat-form-field style="width: 100% !important">
              <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <button class="btn btn-block btn-outline-secondary">consultar</button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
