<div class="my-3"></div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center">
        <h5>Hola Mauricio</h5>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="my-2"></div>
    <div class="card">
      <div class="card-body" (click)="navigateToChart()">
        <h5 class="card-title">Frisby Av. Nutivara</h5>
        <div class="row">
          <div class="col-6">
            <p class="card-text">{{temperature}} °C</p>
          </div>
          <div class="col-6">
            <p class="card-text">{{energy}} Kwh</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="my-2"></div>
    <div class="card" style="background: #bdbdbd;">
      <div class="card-body">
        <h5 class="card-title">Frisby Villa Grande</h5>
        <div class="row">
          <div class="col-6">
            <p class="card-text">0 °C</p>
          </div>
          <div class="col-6">
            <p class="card-text">0 Kwh</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="my-2"></div>
    <div class="card" style="background: #bdbdbd;">
      <div class="card-body">
        <h5 class="card-title">Frisby Molinos</h5>
        <div class="row">
          <div class="col-6">
            <p class="card-text">0 °C</p>
          </div>
          <div class="col-6">
            <p class="card-text">0 Kwh</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="my-2"></div>
    <div class="card" style="background: #bdbdbd;">
      <div class="card-body">
        <h5 class="card-title">Frisby La 70</h5>
        <div class="row">
          <div class="col-6">
            <p class="card-text">0 °C</p>
          </div>
          <div class="col-6">
            <p class="card-text">0 Kwh</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="my-2"></div>
    <div class="card" style="background: #bdbdbd;">
      <div class="card-body">
        <h5 class="card-title">Frisby El Tesoro</h5>
        <div class="row">
          <div class="col-6">
            <p class="card-text">0 °C</p>
          </div>
          <div class="col-6">
            <p class="card-text">0 Kwh</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
